@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

header {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding: 1rem;
    border-bottom: 1px solid white;
}

.logo {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

/* header input {
    height: 2rem;
} */

.map-actions {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.map-actions>* {
    height: 40px;
    background-color: #7f7f7f;
    border: none;
}
.map-actions button{
    color: aliceblue;
    padding: 0 10px;
}

.search-loc input {
    height: 40px;
    background-color: #d9d9d9;
    border: none;
}

.search-loc input::placeholder {
    color: white;
    font-size: 1rem;
    padding-inline-start: 5px;
}

.search-loc .go {
    background-color: transparent;
    border: none;
    
    font-size: 1rem;
    font-weight: 1000;
    padding: 0 10px 0 0;
}

